Django==2.2.6
Faker==5.0.1
flake8==3.8.4
flake8-builtins==1.5.3
flake8-import-order==0.18.1
flake8-isort==4.0.0
flake8-polyfill==1.0.2
flake8-print==4.0.0
pylint==2.5.3
pylint-celery==0.3
pylint-django==2.1.0
pylint-flask==0.6
pylint-plugin-utils==0.6
virtualenv==20.2.2

