{% extends "base.html" %}

{% block body %}

<div class="album py-5 bg-light">
    <div class='container'>
        <form class="row g-3 align-items-center" action="{% url 'homepage:update_book' id=id %}" method="PUT">
            {% csrf_token %}
            {% for field in form.visible_fields %}
            <div class="form-control-sm">
                {{ field.label_tag }}
                {{ field }}
                {% endfor %}
                <div class="col-10">
                    <input class="btn btn-primary" type="submit" value="Edit">
                </div>
            </div>
        </form>
        <form class="row g-3 align-items-center" action="{% url 'homepage:delete_book' id=id %}" method="POST">
            {% csrf_token %}
            <div class="col-10">
                <input class="btn btn-primary" type="submit" value="Remove">
            </div>
        </form>
    </div>
</div>

{% endblock %}
