{% extends "base.html" %}


{% block body %}
<div class='container'>
    <h1>Welcome to students site</h1>
    <div class="row row-cols-1">
        <a class="col" href="{% url 'homepage:students_list' %}">Students list</a>
        <a class="col" href="{% url 'homepage:create_student' %}">Create student</a>
        <a class="col" href="{% url 'homepage:books' %}">Books</a>
        <a class="col" href="{% url 'homepage:teachers' %}">Teachers</a>
        <a class="col" href="{% url 'homepage:subjects' %}">Subjects</a>
        <a class="col" href="{% url 'homepage:json_students_list' %}">List of students in JSON</a>
        <a class="col" href="{% url 'homepage:csv_students_list' %}">List of students in CSV</a>
    </div>
</div>
{% endblock %}