<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    This is just test template
    {{ recipients }}
    Check it ous :
    
        Я ночью в Африку летал<br>
        И там Python3а наблюдал!<br>
        Python под пальмою лежал,<br>
        Он никого не обижал!<br>
        Такой упитанный Python3,<br>
        Он весит целых сорок тонн!<br>
        А у кого сомнение,<br>
        Или другое мнение,<br>
        Пусть взвесит змея на весах,<br>
        Преодолев свой страх!<br>
        Длиной он метров сорок был,<br>
        Но это я предположил,<br>
        Ведь я могу считать пока<br>
        Всего до сорока!<br>
        А у кого сомнение,<br>
        Или другое мнение,<br>
        Пускай измерит змея<br>
        С рулеткою в руках,<br>
        Преодолев свой страх!<br>
        А я, преодолев свой страх,<br>
        Был от Python в двух шагах,<br>
        Хотел его коснуться,<br>
        Но тут будильник прозвенел,<br>
        И мне пришлось проснуться! <br>
</head>
<body>

</body>
</html>