{% extends "base.html" %}


{% block body %}
<div class="album py-5 bg-light">

    <div class='container'>

        {% csrf_token %}
        <div class="container">
            <div class="row">
                {% for subject in object_list %}
                <div class="form-control-sm">
                    <a type="button" href="{% url 'homepage:subject_info' id=subject.id %}">Subject : {{ subject.title }} {{ subject.id }} with related students :</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}

{% endblock %}