{% extends "base.html" %}


{% block body %}
<div class="album py-5 bg-light">

    <div class='container'>

        {% csrf_token %}
        <div class="container">
            <div class="row">
                {% for teacher in object_list %}
                <div class="form-control-sm">
                    {{ teacher.name }}
                    {{ teacher.id }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}

{% endblock %}